In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Pre_processed_Placement.csv")

In [3]:
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,0.0
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,0.0

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset=dataset.astype(int)

In [6]:
independent = [col for col in dataset.columns if col != 'salary']  # Replace 'target_column' with your actual target column name
dependent = 'salary'

In [7]:
independent=dataset[['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p','gender_M', 'ssc_b_Others', 'hsc_b_Others', 'hsc_s_Commerce',
       'hsc_s_Science', 'degree_t_Others', 'degree_t_Sci&Tech', 'workex_Yes',
       'specialisation_Mkt&HR', 'status_Placed']]
dependent=dataset[['salary']]

In [8]:
from sklearn.model_selection import train_test_split #sklearn is a library used for handling ML algorithm
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train_scaled=sc.fit_transform(X_train)
X_test_scaled=sc.transform(X_test)

# CENTERING AND SCALING

In [10]:
# Mean should be close to 0 and variance should be close to 1

In [11]:
import numpy as np
#before satndarisation
print("Mean of scaled training features:\n", np.mean(X_train, axis=0))
print("Variance of scaled training features:\n", np.var(X_train, axis=0))

Mean of scaled training features:
 sl_no                    109.693333
ssc_p                     66.486667
hsc_p                     65.926667
degree_p                  65.646667
etest_p                   72.213333
mba_p                     61.413333
gender_M                   0.680000
ssc_b_Others               0.446667
hsc_b_Others               0.613333
hsc_s_Commerce             0.526667
hsc_s_Science              0.426667
degree_t_Others            0.060000
degree_t_Sci&Tech          0.273333
workex_Yes                 0.340000
specialisation_Mkt&HR      0.460000
status_Placed              0.680000
dtype: float64
Variance of scaled training features:
 sl_no                    3894.465956
ssc_p                     102.503156
hsc_p                     115.481289
degree_p                   53.961822
etest_p                   178.527822
mba_p                      35.655822
gender_M                    0.217600
ssc_b_Others                0.247156
hsc_b_Others                0.237156
hsc_s_Commerce              0.249289
hsc_s_Science               0.244622
degree_t_Others             0.056400
degree_t_Sci&Tech           0.198622
workex_Yes                  0.224400
specialisation_Mkt&HR       0.248400
status_Placed               0.217600
dtype: float64

In [12]:
import numpy as np

# After standarisation
print("Means after scaling (should be close to zero):\n", np.mean(X_train_scaled, axis=0))
print("Variances after scaling (should be close to one):\n", np.var(X_train_scaled, axis=0))

Means after scaling (should be close to zero):
 [ 8.28966525e-17  2.10202226e-16  3.99680289e-16  7.65313738e-16
 -3.42688840e-16 -9.17784367e-17 -1.08061708e-16  2.96059473e-17
  7.40148683e-17  7.40148683e-18 -9.76996262e-17 -7.40148683e-18
  5.77315973e-17 -1.06581410e-16 -1.33226763e-17 -1.50990331e-16]
Variances after scaling (should be close to one):
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]